#### Задача№1

In [1]:
from datetime import datetime

In [3]:
The_Moscow_Times = 'Wednesday, October 2, 2002'
datetime_The_MT = datetime.strptime(The_Moscow_Times, '%A, %B %d, %Y')
print(datetime_The_MT)

2002-10-02 00:00:00

In [4]:
The_Guardian = 'Friday, 11.10.13'
datetime_The_G = datetime.strptime(The_Guardian, '%A, %d.%m.%y')
print(datetime_The_G)

2013-10-11 00:00:00

In [5]:
Daily_News = 'Thursday, 18 August 1977'
datetime_DN = datetime.strptime(Daily_News, '%A, %d %B %Y')
print(datetime_DN)

1977-08-18 00:00:00

#### Задача№2

In [36]:
from datetime import datetime

stream = ['2018-04-02', '2018-02-29', '2018-19-02']

def correct_date(stream):
    for date in stream:
        try:
            date_list = datetime.strptime(date, '%Y-%m-%d')
            print('Дата корректна')
        except ValueError:
            print('Некорректная дата')
correct_date(stream)

Дата корректна
Некорректная дата
Некорректная дата

#### Задача№3

In [35]:
from datetime import timedelta

def date_range():
    start_date = input('Введите начальную дату в формате YYYY-MM-DD: ')
    end_date = input('Введите конечную дату в формате YYYY-MM-DD: ')
    
    lists_date = []
    
    try:
        d1 = datetime.strptime(start_date, '%Y-%m-%d')
        d2 = datetime.strptime(end_date, '%Y-%m-%d')
        current_dt = d1
        while current_dt <= d2:
            current_dt += timedelta(days=1)
            lists_date.append(current_dt.strftime('%Y-%m-%d'))
        print(lists_date)
    except ValueError:
        print(lists_date)


date_range()

Введите начальную дату в формате YYYY-MM-DD: 12-12-3444
Введите конечную дату в формате YYYY-MM-DD: 12-45-6788
[]