### Задача №1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [95]:
data_base = pd.read_csv('ratings.csv')
data_base_movie = pd.read_csv('movies.csv')
joined = data_base.merge(data_base_movie, on='movieId', how='left',)
joined.head()
top_rating = joined[joined['rating'] == 5]
top_rating.groupby('title').count().sort_values('rating', ascending = False).head(1)

                                  userId  movieId  rating  timestamp  genres
title
Shawshank Redemption, The (1994)     153      153     153        153     153

### Задача №2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [50]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [100]:
countries = ['Latvia','Lithuania','Estonia']
categories = [4,12,21]
start_year = 2005
end_year = 2010


filtered_data = data[(data['country'].isin(countries)) & (data['quantity'] >= 0) & (data['year'].between(start_year,end_year)) &
                     (data['category'].isin(categories))]
filtered_data.groupby('country').agg({'quantity':'sum'})

           quantity
country
Estonia     63440.0
Latvia      54844.0
Lithuania  122296.0

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [71]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding = 'utf-8')[0]

In [74]:
df[:5]

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,992694,-,993561,"-0,09 %",-00867,19.12.2020
1,NaN,EUR/RUB,900045,-,897220,"0,31 %",02825,19.12.2020
2,NaN,USD/RUB,734240,-,731318,"0,40 %",02922,19.12.2020
3,NaN,JPY/RUB,07107,-,07107,"0,00 %",00000,19.12.2020
4,NaN,CNY/RUB,112291,-,112328,"-0,03 %",-00037,19.12.2020